a{
  margin: 10px;
  list-style: none;
  color: black;
  text-decoration: none;
}

.mainModule{
  border: 1px solid black;
  height: fit-content;
}

.mainModule a {
  background: #ccc;
  padding: 5px;
}